{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}

<div class="container">

    <h5 class="mt-5">Categorie :{{ categorie.id }}</h5>

    <table class="table border mt-3">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-info btn-sm" href="{{ path('categorie_index') }}">Retour à la liste des categories</a>

    <a class="btn btn-primary btn-sm" href="{{ path('categorie_edit', {'id': categorie.id}) }}">Modifier</a>

    <a class="btn btn-danger btn-sm" href="{{ path('categorie_delete', {'id': categorie.id}) }}">Supprimer</a>

</div>

{% endblock %}
