{% extends 'base_admin.html.twig' %}

{% block title %}Edit Option{% endblock %}

{% block body %}

    <section class="container">
    
        {% for message in app.flashes('success') %}
            <div class='alert alert-success'>
                {{message}}
            </div>
        {% endfor %}

        <h1>Modifier le Option</h1>
            
            {{ form_start(form) }}
        
        <div class="row">
            
            <div class="col-md-8 p-3">
                {{ form_row(form.nom, { 'attr': { 'class':'form-control'} }) }}
                {{ form_row(form.optionGroupe, { 'attr': { 'class':'form-control'} }) }}
            </div>

            <div class="col-md-4 p-3 border-0 ">
                <button class="btn btn-primary btn-block btn-sm mt-3">Modifier</button>
                <a href="{{ path('options_index') }}" class="btn btn-outline-secondary btn-block btn-sm mt-3">Retour à la liste des options</a>
                <a href="{{ path('options_delete', {'id': option.id}) }}" class="btn btn-danger btn-block btn-sm mt-3">Supprimer</a>
            </div>
            </div>
            {{ form_end(form) }}

    </section>


{% endblock %}
