{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}

    <section class="container">

        <h1>Modifier Produit</h1>
            {{ form_start(form) }}
        <div class="row">

            <div class="col-md-8 p-3">
                {{ form_row(form.nom,{ 'attr': { 'class':'form-control'} }) }}
                {{ form_row(form.description, { 'attr': { 'class':'form-control'} }) }}
                {{ form_row(form.prix, { 'attr': { 'class':'form-control'} }) }}
                {{ form_row(form.categorie, { 'attr': { 'class':'form-control'} }) }}
                {# {{ form_row(form.options, { 'attr': { 'class':'form-control'} }) }} #}
                {{ form_row(form.colors, { 'attr': { 'class':'form-control'} }) }}
                {# {{ form_row(form.tailles, { 'attr': { 'class':'form-control'} }) }} #}


                <p>Aperçu de l'image :
                    {% for image in produit.images %}
                        <img class="img-fluid w-25" src="{{ asset('img/' ~ image)}}" alt="{{ produit.nom }}"></td>
                    {% endfor %}
                </p>

                <p>
                    <img class="img-fluid w-25" src="{{ asset('img_choisi/' ~ produit.imageChoisi)}}" alt="{{ produit.nom }}"></td>
                </p>

            </div>

            <div class="col-md-4 p-3 border-0 ">
                {{ form_row(form.images, { 'attr': { 'class':'form-control'} }) }}
                <button class="btn btn-primary btn-block btn-sm mt-3">Modifier</button>
                <a href="{{ path('produits_index') }}" class="btn btn-outline-secondary btn-block btn-sm mt-3">Retour à la liste des produits</a>
                <a href="{{ path('produits_delete', {'id': produit.id}) }}" class="btn btn-danger btn-block btn-sm mt-3">Supprimer</a>
            </div>
            </div>
            {{ form_end(form) }}
                {# {{ include('admin/produits/_form.html.twig', {'button_label': 'Update'}) }} #}

                {# <p>Aperçu de l'image :
                    {% for image in produit.images %}
                        <img class="img-fluid w-25" src="{{ asset('img/' ~ image)}}" alt="{{ produit.nom }}"></td>
                    {% endfor %}
                </p>

                <p>
                    <img class="img-fluid w-25" src="{{ asset('img_choisi/' ~ produit.imageChoisi)}}" alt="{{ produit.nom }}"></td>
                </p>

                <a href="{{ path('produits_index') }}" class="btn btn-outline-secondary btn-block btn-sm mt-3">Retour à la liste des produits</a>
                <a href="{{ path('produits_delete', {'id': produit.id}) }}" class="btn btn-danger btn-block btn-sm mt-3">Supprimer</a> #}
        </section>

{% endblock %}

{% block javascripts %}

{{parent()}} 

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
    $(function(){
        $("#produits_colors").select2()
        $("#produits_tailles").select2()
     })
</script>
{% endblock %}
