{% extends 'base_admin.html.twig' %}

{% block title %}Ajout Produit{% endblock %}

{% block body %}

    <section class="container">
        <h1>Ajouter un nouveau produit</h1>
        {# {{ form_start(form) }}
        <div class="row">
            <div class="col-md-8 p-3">
                {{ form_row(form.nom) }}
                {{ form_row(form.description) }}
                {{ form_row(form.prix) }}
                {{ form_row(form.categorie) }}
                {{ form_row(form.colors) }}
                {{ form_row(form.optionGroupe) }}
            </div>
            <div class="col-md-4 p-3 border-0 ">
                {{ form_row(form.images) }}
                {{ form_row(form.image_choisi) }}
                <button class="btn btn-primary btn-block btn-sm mt-3">Publier</button>
                <a href="{{ path('produits_index') }}" class="btn btn-outline-secondary btn-block btn-sm mt-3">Retour à la liste des produits</a>
            </div>

        </div>
        {{ form_end(form) }} #}
            {{ include('admin/produits/_form.html.twig') }}

            <a href="{{ path('produits_index') }}" class="btn btn-outline-secondary btn-block btn-sm mt-3 mb-5">Retour à la liste des produits</a>


    </section>

{% endblock %}

{% block javascripts %}


{{parent()}} 

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

 <script>

    $(function(){
        $("#produits_colors").select2()
        $("#produits_tailles").select2()
    })

    $(document).on('change','#produits_optionGroupe', '#produits_options' ,function () {
    let $field = $(this)
    let $optionGroupeField = $('#produits_optionGroupe')
    let $form = $field.closest('form')
    let target = '#' + $field.attr('id').replace('options', 'tailles').replace('optionGroupe', 'options')
    // Les données à envoyer en Ajax
    let data = {}
    data[$optionGroupeField.attr('name')] = $optionGroupeField.val()
    data[$field.attr('name')] = $field.val()
    // On soumet les données
    $.post($form.attr('action'), data).then(function (data) {
        // On récupère le nouveau <select>
        let $input = $(data).find(target)
        // On remplace notre <select> actuel
        $(target).replaceWith($input)
    })
    })

</script> 

{% endblock %}
