{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <div class="container">

        <div class="text-center contact mt-5">
            <h1 class="font-weight">Contactez-moi</h1>
        </div>

        <div class="p-3 border-0 shadow">
            {% for message in app.flashes('success1') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.nom,{ 'attr': { 'class':'form-control'} }) }}
                </div>
                <div class="col-md-6 ">
                    {{ form_row(form.prenom, { 'attr': { 'class':'form-control'} }) }}
                </div>
            </div>
            {{ form_row(form.email, { 'attr': { 'class':'form-control'} }) }}
            {{ form_row(form.objet, { 'attr': { 'class':'form-control'} }) }}
            {{ form_row(form.message, { 'attr': { 'class':'form-control'} }) }}

            <button class="btn btn-primary mt-3" type="submit">Envoyer</button>
            {{ form_end(form) }}
        </div>

    </div>


{% endblock %}
