{% extends 'base.html.twig' %}

{% block title %}Mes Paramètres - Bon Temps Roulé{% endblock %}

{% block body %}

<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="loginBox">
        {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_widget(form.password, { 'attr': { 'class':'form-control'} }) }}
            </div>

        <div class="form-group">
            {{ form_label(form.newpass.first) }}
            {{ form_widget(form.newpass.first) }}
            {{ form_errors(form.newpass.first) }}
        </div>

        <div class="form-group">
            {{ form_label(form.newpass.second) }}
            {{ form_widget(form.newpass.second) }}
        </div>

            <button type="submit">Mettre à jour mes informations</button>

        {{ form_end(form) }}
            
        </div>
    </div>

</section>

{% endblock %}
